
body{
    background-color: black
}

#container{
    width: 960px;
}

header{
    background-color: #dd0000;
    padding: 10px;
    font-family: 'Faster One', cursive;
    text-align: center;
    font-size: 30px;
    border: 10px solid #ffffff;
    text-shadow: -3px 3px #ffffff;
    text-shadow: -.5px .5px 1px #bababa;
}

#question-box{
    background-color: #dd0000;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 960px; 
    border: 5px solid #ffffff;
}
p.question-text{
    font-size: 28px;
    font-family: 'Ruslan Display', cursive;
}

p.clock{
    font-size: 22px;
    font-family: 'Ruslan Display', cursive;
}

p.answers{
    font-size: 22px;
    font-family: 'Ruslan Display', cursive;
    background-color: white;
    padding: 5px;
    width: 600px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

#gameStartButton{

    background-color: #6d6c6c;
    border: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Ruslan Diplay', cursive;
    font-size: 22px;
    transition: background-color 0.5s ease;
}

#gameStartButton:hover{

    background-color: #06a800;

}

#gameStartButton:se
